WPFAlertingSystemUI/PatientRegistration/Connected Services/PatientAlertingSystem/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50624/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlertingSystem" />
  <xs:element name="MonitorPatientVitals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorPatientVitalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAlertingSystem" minOccurs="0" name="MonitorPatientVitalsResult" nillable="true" type="q1:ArrayOfPatientDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>