WPFAlertingSystemUI/PatientRegistration/Connected Services/PatientAlertingSystem/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFAlertingSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFAlertingSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPatientDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientDetails" nillable="true" type="tns:PatientDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientDetails" nillable="true" type="tns:ArrayOfPatientDetails" />
  <xs:complexType name="PatientDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BedNo" type="xs:int" />
      <xs:element minOccurs="0" name="BloodGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" type="xs:int" />
      <xs:element minOccurs="0" name="Diagnosis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDetails" nillable="true" type="tns:PatientDetails" />
</xs:schema>