WPFAlertingSystemUI/PatientRegistration/Connected Services/PatientRegistrationDischarge/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58372/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58372/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58372/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PatientRegistrationandDischarge" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPatient" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DischargePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:DischargePatient" />
  </wsdl:message>
  <wsdl:message name="IService1_DischargePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DischargePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPatient" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPatient" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPatientResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterPatient" message="tns:IService1_RegisterPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterPatientResponse" message="tns:IService1_RegisterPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DischargePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DischargePatient" message="tns:IService1_DischargePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DischargePatientResponse" message="tns:IService1_DischargePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllPatient" message="tns:IService1_SelectAllPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllPatientResponse" message="tns:IService1_SelectAllPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPatient" message="tns:IService1_SelectPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPatientResponse" message="tns:IService1_SelectPatient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpService" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterPatient">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DischargePatient">
      <soap:operation soapAction="http://tempuri.org/IService1/DischargePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllPatient">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatient">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="basicHttpService" binding="tns:basicHttpService">
      <soap:address location="http://localhost:58372/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>